.place__wrap-two_wrap-paragraph {
    margin: 0 0 0 40px;
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
  }

.place__wrap-two_wrap-paragraph :first-of-type {
    padding-bottom: 26px;
  }

@media screen and (max-width: 1279px) {
  .place__wrap-two_wrap-paragraph {
    margin-left: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place__wrap-two_wrap-paragraph {
    margin-left: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__wrap-two_wrap-paragraph {
    max-width: 288px;
    margin: 0 auto;
  }
  .place__wrap-two_wrap-paragraph :first-of-type {
    padding-bottom: 25px;
  }
  .place__wrap-two_wrap-paragraph :last-of-type {
    padding-bottom: 0;
  }
}
